{% load rest_framework %}

<html>
  <head>
    <title>Buy {{item.name}}</title>
  </head>
  <body>
    <h1>{{ item.name }}</h1>
    <p>Описание: {{ item.description }}</p>
    <p>Цена: {{ item.price }} {{ item.currency }}</p>
    <button id="buy-button">Buy</button>
    <script src="https://js.stripe.com/v3/"></script>
    <script type="text/javascript">
      var stripe = Stripe("{{ stripe_pub_key }}");
      var buyButton = document.getElementById('buy-button');
      buyButton.addEventListener('click', function() {
        fetch("{% url 'item_buy' item.id %}", {method: 'GET'})
        .then(response => {return response.json();})
        .then(session => stripe.redirectToCheckout({ sessionId: session }))
      });
    </script>
  </body>
</html>
